<h1>Pages#home</h1>

<%= button_to "Organization", "./organizations", :method => "get", class: 'btn btn-small' %>

<%= button_to "Volunteer", "./users", :method => "get", class: "btn btn-success" %>

<%= button_to "Opportunities", "./opportunities", :method => "get", class: 'btn btn-small' %>

