
<div class=testimonial>
<p class="animated infinite pulse delay-1s"> “Remember that the happiest people are not those who getting more, but those who giving more.” </p>
<p class="animated infinite pulse delay-1s"><strong>The King of Thrones: Abdullah Ali AlQahtani</strong></p>
</div>
<div class="home">
<%= link_to "Organizations", "/organizations" , class: "btn btn-outline-success nav-left"%>

<%= link_to "Volunteer", users_path , class: "btn btn-outline-success nav-left"%>

<%= link_to "Opportunities", opportunities_path, class: "btn btn-outline-success nav-left"%>
</div>


