<h2>All opprtunities List</h2>

<ul>
    <% @opportunities.each do |opportunity| %>
        <li class="animated slideInUp">
       <%= link_to opportunity.name, opportunity_path(opportunity) %>
        </li>
    <% end %>
</ul>